<!doctype html>
	<html>
		<head>
		  <script src="{{ static_url('js/jquery-1.7.min.js') }}"></script>
		  <script src="{{ static_url('js/underscore-1.2.2.min.js') }}"></script>
      <script src="{{ static_url('js/jquery.flot.min.js') }}"></script>
		  <script src="{{ static_url('js/hackday.js') }}"></script>
		  <link rel="stylesheet" type="text/css" href="{{ static_url('css/hackday.css') }}">
		  
		</head>
		<body>
		  <div class="container">
			  <div class="main">
				  <div class="big-graph">
				  
				  </div>
				  <div class="side-graphs">
				     <div class="small-graph" data-word="olympics" data-endpoint="smallgraph">
				      <div id="flot1" class="flot-container" style="width: 600px; height: 300px;" ></div>
				      <ul>
				        <li class="count-positive"></li>
				        <li class="count-positive></li>
				      </ul>
				     </div>
				      <!--  
				     <div class="small-graph" data-word="jubilee" data-endpoint="smallgraph">
              <div id="flot2" class="flot-container" style="height:200px; width:400px" ></div>
              <ul>
                <li class="count-positive"></li>
                <li class="count-positive></li>
              </ul>
             </div>
            
             <div class="small-graph" data-word="" data-endpoint="smallgraph">
              <div id="flot3" class="flot-container"></div>
              <ul>
                <li class="count-positive"></li>
                <li class="count-positive></li>
              </ul>
             </div>
             <div class="small-graph" data-word="" data-endpoint="smallgraph" >
              <div id="flot4" class="flot-container"></div>
              <ul>
                <li class="count-positive"></li>
                <li class="count-positive></li>
              </ul>
             </div>
             -->
				  </div>
			  </div>
			  <div class="sidebar">
		 		   <div class="tweet positive">
		 		   </div>
		 		   <div class="tweet negative">
		       </div>
			  </div>
			</div>
		  
		</body>
	</html>
