<!doctype html>
	<html>
		<head>
		  <script src="{{ static_url('js/jquery-1.7.min.js') }}"></script>
		  <script src="{{ static_url('js/underscore-1.2.2.min.js') }}"></script>
      <script src="{{ static_url('js/jquery.flot.min.js') }}"></script>
		  <script src="{{ static_url('js/hackday.js') }}"></script>
		  <link rel="stylesheet" type="text/css" href="{{ static_url('css/hackday.css') }}">
		  
		</head>
		<body>
		  <div class="container">
			  <div class="main">
				  <div class="big-graph" data-neg="true" data-word="olympics,jubilee,philpott,chocolate" data-endpoint="biggraph">
             <h3>Big graph</h3>
              <div class="flot-container" style="width:700px;height:300px" ></div>
              <p class="timerange"></p>
              <ul>
                <li class="count-positive"></li>
                <li class="count-positive"></li>
              </ul>
				  </div>
			
				  <div class="side-graphs" style="width: 800px">
				     <div class="small-graph" data-word="olympics" data-endpoint="smallgraph">
				     <h3>Olympics</h3>
				      <div id="flot1" class="flot-container"  ></div>
				      <p class="timerange"></p>
				      <ul>
				        <li class="count-positive"></li>
				        <li class="count-positive"></li>
				      </ul>
				     </div>
				     
				     <div class="small-graph" data-word="jubilee" data-endpoint="smallgraph">
				                 <h3>Jubilee</h3>
				     
              <div id="flot1" class="flot-container" ></div>
              <p class="timerange"></p>
              <ul>
                <li class="count-positive"></li>
                <li class="count-positive"></li>
              </ul>
             </div>
             
             <div class="small-graph" data-word="philpott" data-endpoint="smallgraph">
                                     <h3>Philpott</h3>
             
              <div id="flot1" class="flot-container"  ></div>
              <p class="timerange"></p>
              <ul>
                <li class="count-positive"></li>
                <li class="count-positive"></li>
              </ul>
             </div>
             
             <div class="small-graph" data-word="chocolate" data-endpoint="smallgraph">
                                                  <h3>Chocolate</h3>
             
              <div id="flot1" class="flot-container" ></div>
              <p class="timerange"></p>
              <ul>
                <li class="count-positive"></li>
                <li class="count-positive"></li>
              </ul>
             </div>

				  </div>
				  
			  </div>
			  <div class="sidebar">
		 		   <div class="tweet positive">
		 		   </div>
		 		   <div class="tweet negative">
		       </div>
			  </div>
			</div>
		  
		</body>
	</html>
