<!doctype html>
	<html>
		<head>
		  <script src="{{ static_url('js/jquery-1.7.min.js') }}"></script>
		  <script src="{{ static_url('js/underscore-1.2.2.min.js') }}"></script>
      <script src="{{ static_url('js/jquery.flot.min.js') }}"></script>
		  <script src="{{ static_url('js/hackday.js') }}"></script>
		  <link rel="stylesheet" type="text/css" href="{{ static_url('css/hackday.css') }}">
		  
		</head>
		<body>
		<div class="container-fluid">
				<div class="row-fluid">
			  <div class="span9">
					<h2 class="mbm">Tweet Graphs</h2>
					<div class="mod big_graph_mod mbl">	
						<div class="inner">
							<div class="hd">
								<h3 class="mbm">
									Comparative graph
								</h3>
							</div>
							<div class="bd">
								 <div class="big_graph big-graph" data-neg="true" data-word="olympics,jubilee,philpott,chocolate" data-endpoint="biggraph">
									 <div class="flot-container" style="width:700px;height:300px" ></div>
										<p class="timerange"></p>
									</div>
							</div><!-- /bd -->
						</div>
					</div><!-- /big_graph_mod -->
					<div class="mod sm_graph_list_mod">	
						<div class="inner">
							<div class="hd">
								<h3 class="mbm">
									Small graphs
								</h3>
							</div>
							<div class="bd">
								<!--- graph1 -->
								
								<div class="mod small_graph_mod mbm span6 bg_gy rd5 side-graphs">
									<div class="inner pam">
										<h3>Olympics</h3>
										<div class="bd mbm small-graph" data-word="olympics" data-endpoint="smallgraph">
											 <div id="flot1" class="flot-container"  ></div>
											 <p class="timerange"></p>
										</div><!--/bd -->
										<div class="ft">
											<ul class="hidden">
												<li class="count-positive"></li>
												<li class="count-positive"></li>
											</ul>
											<button class="btn  btn-primary btn-graph">
												tweet feed
											</button>
										</div><!--/bd -->
									</div>
								</div><!-- /small_graph_mod mbm -->
								
								<!-- graph2 -->
								<div class="mod small_graph_mod mbm span6 rd5">
									<div class="inner pam">
										<h3>Jubilee</h3>
										<div class="bd mbm small-graph" data-word="jubilee" data-endpoint="smallgraph">
											<div id="flot2" class="flot-container flot-small" ></div>
											<p class="timerange"></p>
										
										</div><!--/bd -->
										<div class="ft">
											<ul class="hidden">
												<li class="count-positive"></li>
												<li class="count-positive"></li>
											</ul>
											<button class="btn  btn-primary btn-graph">
												tweet feed
											</button>
										</div><!--/bd -->
									</div>
								</div><!-- /small_graph_mod mbm -->
								
								<div class="mod small_graph_mod mbm span6 mln rd5">
									<div class="inner pam">
										<div class="bd mbm">
											<div data-tag="" id="flot3" class="flot-small"></div>
										</div><!--/bd -->
										<div class="ft">
											<ul class="hidden">
												<li class="count-positive"></li>
												<li class="count-positive"></li>
											</ul>
											<button class="btn  btn-primary btn-graph">
												tweet feed
											</button>
										</div><!--/bd -->
									</div>
								</div><!-- /small_graph_mod mbm -->	
								
							 <div class="mod small_graph_mod mbm span6 rd5">
									<div class="inner pam">
										<div class="bd mbm">
											<div data-tag="" id="flot4" class="flot-small"></div>
										</div><!--/bd -->
										<div class="ft">
											<ul class="hidden">
												<li class="count-positive"></li>
												<li class="count-positive"></li>
											</ul>
											<button class="btn  btn-primary btn-graph ">
												tweet feed
											</button>
										</div><!--/bd -->
									</div>
								</div><!-- /small_graph_mod mbm -->
								
								
							</div><!-- /bd -->
						</div>
					</div><!-- /big_graph_mod -->
				</div><!-- /main -->
			  <div class="span3">

					<div class="sidebar-nav">
						<h2 class="mbm">Tweet feed</h2>
						<div class="mod twit_feed_mod mbm pam">
							<div class="inner">
								<div class="bd">
									<h4 class="mbm">positive tweet feed</h4>
								</div><!--/hd -->
								<div class="bd">
									 <div class="pos_tweet feed  rd5 ">
									 </div>
								</div><!--/bd -->
							</div>
						</div><!-- /small_graph_mod mbm -->
								
						<div class="mod twit_feed_mod mbm pam">
							<div class="inner">
								<div class="bd">
									<h4 class="mbm">positive tweet feed</h4>
								</div><!--/hd -->
								<div class="bd">
									 <div class="neg_tweet feed rd5">
									 </div>
								</div><!--/bd -->
							</div>
						</div><!-- /small_graph_mod mbm -->
					</div>
			  </div>
			</div>
			</div><!--container-fluid -->	
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
		  <div class="container">
			  <div class="main">
<!--				  <div class="big-graph" data-neg="true" data-word="olympics,jubilee,philpott,chocolate" data-endpoint="biggraph">
             <h3>Big graph</h3>
              <div class="flot-container" style="width:700px;height:300px" ></div>
              <p class="timerange"></p>
              <ul>
                <li class="count-positive"></li>
                <li class="count-positive"></li>
              </ul>
				  </div>
			-->
<!--				  <div class="side-graphs" style="width: 800px">
				     <div class="small-graph" data-word="olympics" data-endpoint="smallgraph">
				     <h3>Olympics</h3>
				      <div id="flot1" class="flot-container"  ></div>
				      <p class="timerange"></p>
				      <ul>
				        <li class="count-positive"></li>
				        <li class="count-positive"></li>
				      </ul>
				     </div>-->
<!--				      <button data-word="olympics" class="btn-graph">test</button>
				     </div>-->
				     
<!--				     <div class="small-graph" data-word="jubilee" data-endpoint="smallgraph">
				       <h3>Jubilee</h3>
				     
              <div id="flot1" class="flot-container" ></div>
              <p class="timerange"></p>
              <ul>
                <li class="count-positive"></li>
                <li class="count-positive"></li>
              </ul>
             </div>-->

              <button data-word="jubilee" class="btn-graph">test</button>
              
             </div>
             
             <div class="small-graph" data-word="euro2012" data-endpoint="smallgraph">
                                     <h3>Euro 2012</h3>
             
              <div id="flot1" class="flot-container"  ></div>
              <p class="timerange"></p>
              <ul>
                <li class="count-positive"></li>
                <li class="count-positive"></li>
              </ul>
              <button data-word="euro2012" class="btn-graph">test</button>
              
             </div>
             
             <div class="small-graph" data-word="leveson" data-endpoint="smallgraph">
                                                  <h3>Leveson</h3>
             
              <div id="flot1" class="flot-container" ></div>
              <p class="timerange"></p>
              <ul>
                <li class="count-positive"></li>
                <li class="count-positive"></li>
              </ul>
              <button data-word="leveson" class="btn-graph">test</button>

             </div>

				  </div>
				  
			  </div>
			  <div class="sidebar">
			     <div id="twitterStream">
			 		   <div class="tweet-positive">
			 		   </div>
			 		   <div class="tweet-negative">
			       </div>
           </div>
			  </div>
			</div>
		  
		</body>
	</html>
